*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.content{
  height: 100vh;
}

.header {
  padding: 2rem;
  align-items: center;
  font-family: 'Rubik Puddles', cursive;
  font-size: 2rem;
}
.btn {
  width: 10rem;
  height: 10rem;
  background-color:black;
  border-radius: 50%;
  border: 3px dashed white;
  font-size: 2rem;
  margin: 3rem;

}

.btn:hover{
  background-color: #00ff99;
  border: 3px dashed black;
}
.btn:hover span{
  color: black;
}

.btn span{
  user-select: none;
  font-size: 2.8rem;
  color: #00ff99;
  font-family: 'dance Puddles', cursive;
}
li {
  list-style: none;
  font-size: 1.2rem;
  margin: 0.5rem;
}